[Desktop Entry]
Encoding=UTF-8
Name=Neon
Comment=Desktop allet for Neon Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Neon
Exec=neon-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/neon128.png
MimeType=x-scheme-handler/neon;
Categories=Office;Finance;P2P;Network;Qt;
